#api server config
server.port=9093

#zookeeper config
zookeeper.enabled=false
zookeeper.host=127.0.0.1:2181
zookeeper.outTime=10000
zookeeper.root = /elves

#mq basic config
mq.ip=127.0.0.1
mq.port=5672
mq.user=root
mq.password=root
mq.exchange=elves

#agent interface url
agent.url=http://127.0.0.1